<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
</h:head>
<h:body>
    <ui:include src="../template/header.xhtml"/>
    <div class="ui-g-5">
        <div class="ui-g-12">
            <div class="ui-g-6">
                <h2>Logs History</h2>
            </div>
            <div class="ui-g-6">
                <p:commandButton id="backToCalc" value="Back to Calculator"
                                 action="#{logHistoryView.backToCalculator()}"/>
            </div>
        </div>
        <div class="ui-g-12">
            <p:accordionPanel multiple="true" value="#{logHistoryView.userSavedLogs}" var="log" activeIndex="null">
                <p:tab title="#{log.logName}">
                    <h:outputText value="#{log.logValue}" style="white-space: pre-wrap;"/>
                </p:tab>
            </p:accordionPanel>
        </div>
    </div>
</h:body>
</html>
