<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">
    <div class="ui-g-12">
        <div class="ui-g-4">
            <h1>Hello , <span>#{calculatorView.getUserName()}</span>!</h1>
        </div>
        <div class="ui-g-8">
            <h:form id="buttonForm" style="float: right;">
                <p:commandButton id="redirectToLogin"
                                 rendered="#{not calculatorView.isUserLoggedIn()}"
                                 value="Login" action="#{calculatorView.login()}"/>
                <p:commandButton id="redirectToSignup" value="Sign Up"
                                 rendered="#{not calculatorView.isUserLoggedIn()}"
                                 action="#{calculatorView.signup()}"/>
                <p:commandButton id="logOut" value="Log Out"
                                 rendered="#{calculatorView.isUserLoggedIn()}"
                                 action="#{calculatorView.logout()}"/>
            </h:form>
        </div>
    </div>
</ui:composition>
</body>
</html>