<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:composite="http://java.sun.com/jsf/composite">
    <composite:interface>
        <composite:attribute name="formId" required="true"/>
        <composite:attribute name="usernameValue" required="true"/>
        <composite:attribute name="passwordValue" required="true"/>
        <composite:attribute name="btnId" required="true"/>
        <composite:attribute name="btnValue" required="true"/>
        <composite:attribute name="btnAction" method-signature="java.lang.String act()" required="true"/>
    </composite:interface>

    <composite:implementation>
        <h:form id="#{cc.attrs.formId}">
            <p:growl id="error" showSummary="false" showDetail="true" life="4000"/>
            <p:panelGrid columns="2" styleClass="login-form">
                <p:outputLabel for="username" value="Username: "/>
                <p:inputText id="username" value="#{cc.attrs.usernameValue}"/>

                <p:outputLabel for="password" value="Password: "/>
                <p:inputText id="password" value="#{cc.attrs.passwordValue}" type="password"/>

                <p:commandButton id="#{cc.attrs.btnId}" update="error"
                                 value="#{cc.attrs.btnValue}" action="#{cc.attrs.btnAction}"/>
            </p:panelGrid>
        </h:form>
    </composite:implementation>
</ui:composition>