<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
</h:head>
<h:body>
    <ui:include src="../template/header.xhtml"/>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <h:form id="calculator" styleClass="ui-g-12">
                <div class="ui-g-12">
                    <p:inputText id="expression" readonly="true" value="#{calculatorView.expression}"
                                 styleClass="ui-g-12"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="7" action="#{calculatorView.addOperand('7')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="8" action="#{calculatorView.addOperand('8')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="9" action="#{calculatorView.addOperand('9')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="/" action="#{calculatorView.addOperation('/')}"
                                     update="expression, calcLogs"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="4" action="#{calculatorView.addOperand('4')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="5" action="#{calculatorView.addOperand('5')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="6" action="#{calculatorView.addOperand('6')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="*" action="#{calculatorView.addOperation('*')}"
                                     update="expression, calcLogs"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="1" action="#{calculatorView.addOperand('1')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="2" action="#{calculatorView.addOperand('2')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="3" action="#{calculatorView.addOperand('3')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="-" action="#{calculatorView.addOperation('-')}"
                                     update="expression, calcLogs"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="=" action="#{calculatorView.addOperation('=')}"
                                     update="expression, calcLogs"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="0" action="#{calculatorView.addOperand('0')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="." action="#{calculatorView.addOperand('.')}"
                                     update="expression"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton styleClass="ui-g-12" value="+" action="#{calculatorView.addOperation('+')}"
                                     update="expression, calcLogs"/>
                </div>
                <div class="ui-g-6">
                    <p:commandButton styleClass="ui-g-12" value="Reset" action="#{calculatorView.reset()}"
                                     update="expression"/>
                </div>
            </h:form>
        </div>
        <div class="ui-g-8">
            <div class="ui-g-12">
                <p:outputLabel rendered="#{not calculatorView.isUserLoggedIn()}">
                    Welcome to Pocket Calculator! You can freely use the calculator, but to save and view
                    the calculation logs please log in or sign up.
                </p:outputLabel>

                <div class="ui-g-10">
                    <h:panelGroup id="calcLogs" rendered="#{calculatorView.isUserLoggedIn()}">
                        <h3><p:outputLabel for="logs" value="Logs:" style="display: block;"/></h3>
                        <p:inputTextarea id="logs" readonly="true" cols="70" scrollHeight="250"
                                         autoResize="false"
                                         rows="10" value="#{calculatorView.logs}"/>
                    </h:panelGroup>
                    <br/>
                    <h:panelGroup id="saveLogName" columns="1">
                        <h:panelGroup rendered="#{calculatorView.editMode}">
                            <h:form>
                                <p:growl id="error" showSummary="false" showDetail="true" life="4000"/>
                                <p:inputTextarea id="logName" cols="70" rows="2" value="#{calculatorView.logName}"
                                                 autoResize="false" maxlength="100" placeholder="Log name..."/>
                                <div class="ui-g-12">
                                    <div class="ui-g-2">
                                        <p:commandButton id="saveLog" value="Save"
                                                         update="saveLogName, logsBtns, error, logs"
                                                         action="#{calculatorView.saveLog()}"/>
                                    </div>
                                    <div class="ui-g-2">
                                        <p:commandButton id="cancel" value="Cancel" update="saveLogName, logsBtns"
                                                         action="#{calculatorView.cancel()}"/>
                                    </div>
                                </div>
                            </h:form>
                        </h:panelGroup>
                    </h:panelGroup>
                </div>
                <div class="ui-g-2">
                    <h:panelGrid columns="1" id="logsBtns" rendered="#{calculatorView.isUserLoggedIn()}">
                        <p:commandButton id="redirectToHistory" value="History"
                                         action="#{calculatorView.goToHistory()}"/>
                        <p:commandButton id="saveLogWithName" rendered="#{not calculatorView.editMode}"
                                         value="Save" update="saveLogName, logsBtns, logs"
                                         action="#{calculatorView.saveLogWithName()}"/>
                        <p:commandButton id="clearLogs" value="Clear" update="logs"
                                         rendered="#{not calculatorView.editMode}"
                                         action="#{calculatorView.clearLogs()}"/>
                    </h:panelGrid>
                </div>
            </div>
        </div>
    </div>
</h:body>
</html>