<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:app="http://java.sun.com/jsf/composite/app">

<h:head>
</h:head>
<h:body>
    <h1>Login Page</h1>
    <app:loginForm formId="loginForm"
                   usernameValue="#{loginView.username}"
                   passwordValue="#{loginView.password}"
                   btnValue="Login"
                   btnId="loginBtn"
                   btnAction="#{loginView.userLogin()}"/>
</h:body>
</html>